  
<html lang="en">
    <%- include("./partials/head.ejs") %>
    
    <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="about content">
        <h2>About Us</h2>
        <p>The Generic Blog is your #1 source of trending news and updates around the globe. Our team consists of well educated and certified news journalists from different parts of the world.</p>
        <p>Our experties are in Films, TV Shows, Gaming and Music. Got a story to submit? email: TheGenericBlog@GenericMail.com and we'll reply to you within 2 working days</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quibusdam quaerat illo a modi tenetur ut blanditiis, illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.</p>
      </div>
    
      <%- include("./partials/footer.ejs") %>
    </body>
    </html>